anndata==0.10.7
boto3==1.34.117
fastapi==0.111.0
pandas==2.2.2
pydantic==2.7.2
scanpy==1.10.1
scikit-image==0.24.0
umap==0.1.1
numpy==1.26.4 
scipy==1.13.1 
pandas>2.0.0
statsmodels==0.14.0 
igraph>0.10.6 
louvain>0.8.0 
pynndescent==0.5.10
setuptools==68.2.2